body {
  width: 80%;
  margin: 20px;
  text-align: center;
  background-color: rgb(242, 241, 247);
}

.container {
  margin: 3em 10em;
  padding: 20px;
  box-shadow: 0 0 5px 5px rgb(160, 187, 187);
  background-color: #e8e8cc;
}

.list-container {
  padding: 20px 30px;
  list-style-type: none;
}

.add-item-container {
  padding: 40px 20px 20px 20px;
  text-align: left;
}

.add-item-container > div {
  display: flex;
}

.list-item {
  margin: 15px;
  border: 0.5px solid black;
  padding: 5px;
}

.view-template-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.view-template-container > span {
  width: 20vw;
}

input[type="text"] {
  width: 50%;
  margin: 0 10px;
  padding: 5px;
}

input[type="date"] {
  width: 30%;
  margin: 0 10px;
  padding: 4px;
}

.add-item-container input[type="text"] {
  width: 40%;
}

input[type="checkbox"] {
  width: 35px;
  height: 35px;
}

input[type="text"]:focus {
  background-color: rgb(198, 224, 233);
}

button {
  background-color: #173a18;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 600;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  border-radius: 10%;
}

.todo-strike {
  text-decoration: line-through;
}
